@model Genii_Assessment.ViewModels.InvoiceCreateEditViewModel
@using System.Linq
@using System.Web.Mvc
@using System.Web

@{
    ViewBag.Title = "Create Invoice";

    var firstItemOptions = (Model != null
                            && Model.Items != null
                            && Model.Items.Any()
                            && Model.Items[0].ProductOptions != null)
        ? Model.Items[0].ProductOptions
        : Enumerable.Empty<SelectListItem>();

    var productOptionsHtml = string.Join("",
        firstItemOptions.Select(p =>
            "<option value=\"" + HttpUtility.HtmlAttributeEncode(p.Value) + "\">" +
            HttpUtility.HtmlEncode(p.Text) +
            "</option>"));
}

<h2>Create Invoice</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(m => m.InvoiceDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.InvoiceDate, "{0:yyyy-MM-ddTHH:mm}", new { @class = "form-control", type = "datetime-local" })
                @Html.ValidationMessageFor(m => m.InvoiceDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <h4>Invoice Items</h4>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Unit Cost</th>
                    <th>Line Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="invoice-items-body">
                @for (int i = 0; i < Model.Items.Count; i++)
                {
                    <tr class="invoice-item-row">
                        <td>
                            @Html.DropDownListFor(m => m.Items[i].ProductId, Model.Items[i].ProductOptions, "-- Select Product --", new { @class = "form-control product-select" })
                            @Html.ValidationMessageFor(m => m.Items[i].ProductId, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Items[i].Quantity, new { @class = "form-control quantity-input", type = "number", min = "1" })
                            @Html.ValidationMessageFor(m => m.Items[i].Quantity, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Items[i].UnitCost, new { @class = "form-control unit-cost-input", type = "text" })
                            @Html.ValidationMessageFor(m => m.Items[i].UnitCost, "", new { @class = "text-danger" })
                        </td>
                        <td>
                            <input class="form-control line-total-input" type="text" readonly="readonly" value="@(Model.Items[i].LineTotal.ToString("0.00"))" />
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger remove-row">Remove</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <button type="button" id="add-item-row" class="btn btn-default">Add Item</button>

        <div class="form-group" style="margin-top:20px;">
            @Html.Label("Total Amount", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input class="form-control" id="invoice-total" type="text" readonly="readonly" value="@Model.TotalAmount.ToString("0.00")" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create Invoice" class="btn btn-success" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        (function () {
            const productOptionsHtml = `@Html.Raw(productOptionsHtml)`;

            function recalculateRow(row) {
                const quantity = parseFloat(row.find('.quantity-input').val().replace(',', '.')) || 0;
                const unitCost = parseFloat(row.find('.unit-cost-input').val().replace(',', '.')) || 0;
                const lineTotal = quantity * unitCost;
                row.find('.line-total-input').val(lineTotal.toFixed(2));
            }

            function recalculateInvoiceTotal() {
                let total = 0;

                $('#invoice-items-body .invoice-item-row').each(function () {
                    const value = ($(this).find('.line-total-input').val() || '0').replace(',', '.');
                    const lineTotal = parseFloat(value) || 0;
                    total += lineTotal;
                });

                $('#invoice-total').val(total.toFixed(2));
            }

            function wireRowEvents(row) {
                row.find('.quantity-input, .unit-cost-input').on('input', function () {
                    recalculateRow(row);
                    recalculateInvoiceTotal();
                });

                row.find('.remove-row').on('click', function () {
                    if ($('#invoice-items-body .invoice-item-row').length > 1) {
                        row.remove();
                        reindexRows();
                        recalculateInvoiceTotal();
                    }
                });
            }

            function reindexRows() {
                $('#invoice-items-body .invoice-item-row').each(function (index) {
                    $(this).find('select, input').each(function () {
                        const name = $(this).attr('name');
                        if (name) {
                            $(this).attr('name', name.replace(/Items\[\d+\]/, 'Items[' + index + ']'));
                        }

                        const id = $(this).attr('id');
                        if (id) {
                            $(this).attr('id', id.replace(/Items_\d+__/, 'Items_' + index + '__'));
                        }
                    });
                });
            }

            $('#add-item-row').on('click', function () {
                const index = $('#invoice-items-body .invoice-item-row').length;

                const rowHtml = `
                    <tr class="invoice-item-row">
                        <td>
                            <select name="Items[${index}].ProductId" id="Items_${index}__ProductId" class="form-control product-select">
                                <option value="">-- Select Product --</option>
                                ${productOptionsHtml}
                            </select>
                        </td>
                        <td>
                            <input name="Items[${index}].Quantity" id="Items_${index}__Quantity" class="form-control quantity-input" type="number" min="1" value="1" />
                        </td>
                        <td>
                            <input name="Items[${index}].UnitCost" id="Items_${index}__UnitCost" class="form-control unit-cost-input" type="text" value="0.00" />
                        </td>
                        <td>
                            <input class="form-control line-total-input" type="text" readonly="readonly" value="0.00" />
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger remove-row">Remove</button>
                        </td>
                    </tr>`;

                const row = $(rowHtml);
                $('#invoice-items-body').append(row);
                wireRowEvents(row);
                recalculateInvoiceTotal();
            });

            $('#invoice-items-body .invoice-item-row').each(function () {
                wireRowEvents($(this));
                recalculateRow($(this));
            });

            recalculateInvoiceTotal();
        })();
    </script>
}